
  .d-flex {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
  }


  .background{
    background-image: url(http://newevolutiondesigns.com/images/freebies/dog-wallpaper-12.jpg);
    background-size: cover;
  }


  h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: : 20px;
    font-size: 200%;
  }

  h2 {
    text-align: center;
    color: white;
    width: 200px;
    font-weight: bold;
  }

  .roboto{
    font-family: 'Roboto', sans-serif;
  }

  #mt{
    margin-top: 230px;
  }


  .bg-green {
    background: green;
  }

  .w-300px{
    width: 200px;
  }


  .h-300px{
    height: 200px;
  }

  .h-500px{
    height: 500px;
  }

  .mx-10px{
    margin: 0 10px;
  }

  .text-size{
    font-size: 70%;
  }

  .image1 {
    background-image: url(http://avatarbox.net/avatars/img40/fast_dog_avatar_picture_75308.gif);
    border-radius: 50%;
  }

  .image2 {
    background-image: url(http://avatarbox.net/avatars/img40/funny_dog_blink_avatar_picture_64740.gif);

    border-radius: 50%;
  }

  .image3 {
    background-image: url(http://www.animated-gifs.eu/category_animals/avatars-100x100-dogs/0018.gif);
    border-radius: 50%;
  }

  .image4 {
    background-image: url(http://www.avatarworld.ru/avatarki/forum/avatarki-animal-dogs/avatars/21_angry_grin.jpg);
    border-radius: 50%;
  }
